<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body onload="disconnect()">
<div class="header"></div>
<div class="content">
    <table th:object="${transactions}" border="1">
        <tr>
            <th>Date</th>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>User name</th>
            <th>Request</th>
            <th>Response</th>
        </tr>
        <tr th:each="t : ${transactions}">
            <td th:text="${t.getDate()}"></td>
            <td th:text="${t.getUser().getUserId()}"></td>
            <td th:text="${t.getUser().getUserFirstName()}"></td>
            <td th:text="${t.getUser().getUserLastName()}"></td>
            <td th:text="${t.getUser().getUserName()}"></td>
            <td th:text="${t.getUsersRequest()}"></td>
            <td th:text="${t.getBotsResponse()}"></td>
        </tr>
    </table>
    <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
        Javascript and reload this page!</h2></noscript>
    <div>
        <div>
            <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        </div>
        <div id="conversationDiv">
            <p id="response"></p>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>