<!DOCTYPE html>
<html>
<head>
    <title>monitor</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/websocket.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div>
        <div>
            <button id="connect" onclick="connect();">Enable monitor</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disable</button>
            <a href="/">to main page</a>
        </div>
        <div id="conversationDiv">
            <table class="makeCenterByFlex table" border="1">
                <tbody id="response">
                <tr class="thead-dark">
                    <th>Date</th>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>User name</th>
                    <th>Request</th>
                    <th>Response</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>